body{
  background-color: #000;
  display: grid;
  height: 100vh;
  align-items: center;
}

.box{
}

img {
  -moz-animation-name: fly;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in-out; /* Dá uma suavizada no início e no fim da animação */
  -moz-animation-iteration-count: 2; /* Define o número de repetições da animação */
  -moz-animation-direction: normal; /* especifinação da direção da animação */
  -moz-animation-fill-mode: forwards; /* Define quais valores são aplicados antes e/ou depois da animação */ 
  -moz-animation-play-state: paused; /* Define se a animação está pausada ou rodando */
  
  -moz-animation:fly 1.5s infinite ; /* F0rma curta, segue a ordem exata supracitada. */
  width: 200px;
  height: 150px;
  margin-left: 0;
}

@keyframes fly {
  from{
    transform: translateX(0);
  }

  to{
    transform: translatex(calc(100vw - 200px));
  }
}